.DS_Store
.vscode
node_modules
package.json
package-lock.json
server/.keep
server/aclocal.m4
server/AUTHORS
server/autogen.sh
server/autom4te.cache/output.0
server/autom4te.cache/output.1
server/autom4te.cache/requests
server/autom4te.cache/traces.0
server/autom4te.cache/traces.1
server/ChangeLog
server/char.bin
server/char.def
server/clean
server/CoinedWord.csv
server/config.log
server/config.status
server/configure
server/configure.ac
server/COPYING
server/dicrc
server/EC.csv
server/EF.csv
server/EP.csv
server/ETM.csv
server/ETN.csv
server/feature.def
server/Foreign.csv
server/Group.csv
server/Hanja.csv
server/IC.csv
server/Inflect.csv
server/INSTALL
server/install-sh
server/J.csv
server/left-id.def
server/MAG.csv
server/MAJ.csv
server/Makefile
server/Makefile.am
server/Makefile.in
server/matrix.bin
server/matrix.def
server/missing
server/MM.csv
server/model.bin
server/model.def
server/NEWS
server/NNB.csv
server/NNBC.csv
server/NNG.csv
server/NNP.csv
server/NorthKorea.csv
server/NP.csv
server/NR.csv
server/Person-actor.csv
server/Person.csv
server/Place-address.csv
server/Place-station.csv
server/Place.csv
server/pos-id.def
server/Preanalysis.csv
server/README
server/rewrite.def
server/right-id.def
server/Symbol.csv
server/sys.dic
server/tools/add-userdic.sh
server/tools/convert_for_using_store.sh
server/tools/mecab-bestn.sh
server/unk.dic
server/unk.def
server/user-dic/nnp.csv
server/user-dic/person.csv
server/user-dic/place.csv
server/user-dic/README.md
server/VA.csv
server/VCN.csv
server/VCP.csv
server/VV.csv
server/VX.csv
server/Wikipedia.csv
server/XPN.csv
server/XR.csv
server/XSA.csv
server/XSV.csv
server/XSN.csv
